<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642167317914-bhhbnbojm78psi294ahuaif0t15d2fq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642167317914-bhhbnbojm78psi294ahuaif0t15d2fq8</string>
	<key>API_KEY</key>
	<string>AIzaSyD1S6yRLLt6dJS_CVt9Ii8Ap72k73QwQ6I</string>
	<key>GCM_SENDER_ID</key>
	<string>642167317914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hpIos.TwitterWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>twitterfirebase-9092a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterfirebase-9092a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642167317914:ios:ee01518fbbb453ca</string>
	<key>DATABASE_URL</key>
	<string>https://twitterfirebase-9092a.firebaseio.com</string>
</dict>
</plist>